/* Top bar */

:root {
    --green: rgb(38, 76, 89);
    --tabbar: #FFF;
    --light-green: rgb(172, 198, 201);
    --light-grey: #f1f1f4;
    --text-color-light: #FF785B;
    --text-color-dark: #454545;
    --border: #A0A0A0;
    --sig-color: #EAEAEA0;
}

.topbar {
    /* width: 100%; */
    background-color: #EAEAE0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
}

/* Styling af navigationspil */
.arrow {
    width: 30px;
    float: left;
    margin: 15px 0px 0px -22px;
}

.topbar h2 {
    text-align: left;
    font-weight: 800;
    font-size: 16px;
    margin-left: 2px;
    margin-bottom: 10px;
    margin-top: 20px;
}

#kate-soeg {
    -webkit-appearance: none;
    /* margin: 1em auto; */
    width: 100%;
    max-width: 350px;
    padding: 12px 10px;
    box-sizing: border-box;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    display: block;
    border: 0;
    background: #fff;
    border-radius: 10px;
    font-size: 10px;
    font-family: houschka-rounded, sans-serif;
}

.search-icon {
    position: absolute;
    width: 15px;
    padding-top: 10px;
    right: 50px;
}


.map-icon {
    position: absolute;
    width: 15px;
    padding-top: 14px;
    right: 55px;
    opacity: 0.8;
}





#kategorier {
    background-color: #EAEAE0;
}



#categories {
    display: grid;
    background-color: #F5F6F8;
    grid-template-columns: 50% 50%;
    padding: 10px;
    grid-row-gap: 2em;
    padding-bottom: 100px;

}

section #kategori-container {
    background-color: #F5F6F8;
    padding-top: 5px;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
}


#categories>article {
    text-align: center;
    padding: 10px;
}

#categories>article img {
    max-width: 300px;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

#categories>article a {
    text-decoration: none;
}

#kategorier p {
    margin-left: 6%;
    margin-top: 5px;
    font-size: 20px;
}

#kategorier h1 {
    text-align: left;
    margin-left: 6%;
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 10px;
}

#kategorier h1 span {
    color: #FF785B;
    font-weight: 400;
    font-size: 14px;
}

#kategorier h3 {
    margin-top: -85px;
    color: white;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
}